// Styling Hero Section
.herosection {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
  display: flex;

  .left {
    align-self: center;

    h3 {
      color: #555555;
    }

    h1 {
      color: #333333;
      max-width: 530px;
    }

    button {
      padding: 20px 25px;
    }
  }

  // Styling Winner Site
  .right {
    margin: 0 0 0 auto;

    .winner-site {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
      background: #f5f5f5;
      border-radius: 10px;

      img {
        display: block;
        border-radius: 10px 10px 0px 0px;
      }

      .bar {
        display: flex;
        background: #fff;
        padding: 15px 15px 15px 25px;
        margin: -3px 0 0 0;
        border-radius: 0px 0px 10px 10px;
        justify-content: space-between;

        p {
          max-width: 240px;
        }

        .vote-button {
          align-self: center;
          display: flex;
          flex-wrap: nowrap;
          border: 1px solid #be9764;
          padding: 15px 15px 15px 20px;
          max-height: 30px;
          cursor: pointer;
          transition: 0.3s all ease;
          justify-content: center;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.05em;
            color: #be9764;
            align-self: center;
          }

          svg {
            fill: #be9764;
            align-self: center;
            transition: none !important;
          }

          &:hover {
            h5 {
              color: #fff;
            }

            svg {
              fill: #fff;
            }

            background: #be9764;
          }
        }
      }
    }
  }
}

// Styling Sites list
.sites {
  padding: 40px;

  h2 {
    color: #333333;
    span {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .sites-list {
    display: grid;
    grid-gap: 33px;
    flex-wrap: wrap;
    padding: 40px 0;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    //Styling each site
    .site {
      max-width: 430px;
      width: 100%;
      height: max-content;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
      margin: 0 auto;

      img {
        display: block;
        width: 100%;
        border-radius: 5px 5px 0px 0px;
      }
      .bar {
        display: flex;
        border-radius: 0px 0px 5px 5px;
        background: #fff;

        hr {
          margin: 0;
        }

        h6 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.05em;
          color: #000000;
          padding: 0 25px;
        }

        .details {
          align-self: center;
          padding: 0 44px 0 22px;
          h3 {
            color: #333333;
          }
        }

        h4 {
          align-self: center;
          font-family: Comic Sans MS;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          color: #555555;
          padding: 0 18px 0 0;
        }

        .vote-button {
          display: flex;
          align-self: center;
          margin: 0 20px 0 0;
          cursor: pointer;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #be9764;
          }

          svg {
            align-self: center;
            fill: #be9764;
          }
        }
      }
    }
  }
}

.section3 {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;

  .content {
    padding: 200px 0;

    p {
      padding: 20px 0 40px 0;
    }

    button {
      padding: 20px 25px;
    }
  }

  .line {
    max-width: 780px;
  }

  .up {
    margin: 10px 0 0 auto;
    padding: 13px;
    background: #fff;
    max-width: 24px;
    cursor: pointer;

    svg {
      fill: #333333;
    }
  }
}

footer{
  padding: 0 0 50px 0;
  text-align: center;
}
