// Styling Hero Section
.herosection {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
  display: flex;

  .left {
    align-self: center;

    h3 {
      color: #555555;
    }

    h1 {
      color: #333333;
      max-width: 530px;
    }

    p{
      margin: 0 0 40px 0;
    }

    a {
      padding: 20px 25px;
    }
  }

  // Styling Winner Site
  .right {
    margin: 0 0 0 auto;

    .winner-site {
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
      background: #f5f5f5;
      border-radius: 10px;

      .img-back {
        position: relative;

        .hover {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-tap-highlight-color: transparent;
          opacity: 0;
          transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

          &:hover{
            opacity: 1;
          }

          a {
            font-family: Roboto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-weight: 500;

            &:hover{
              color: #333;
              background: #fff;
            }
          }
        }

        img {
          display: block;
          width: 100%;
          border-radius: 5px 5px 0px 0px;
        }
      }

      .bar {
        display: flex;
        background: #fff;
        padding: 10px 10px 10px 25px;
        margin: 0px 0 0 0;
        border-radius: 0px 0px 10px 10px;
        justify-content: space-between;

        p {
          max-width: 240px;
        }

        .vote-button {
          display: flex;
          align-self: center;
          margin: 0 20px 0 auto;
          cursor: pointer;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #be9764;
          }

          svg {
            align-self: center;
            fill: #be9764;
          }
        }
      }
    }
  }
}

// Styling Sites list
.sites {
  padding: 40px;

  h2 {
    color: #333333;
    span {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
    }
  }

  .sites-list {
    display: grid;
    grid-gap: 33px;
    padding: 40px 0;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    .bar{
      display: flex;
      justify-content: space-between;

      .right{
        align-self: center;
      }
    }

    //Styling each site
    .site {
      max-width: 430px;
      width: 100%;
      height: max-content;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);

      .img-back {
        position: relative;

        .hover {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.5);
          -webkit-tap-highlight-color: transparent;
          opacity: 0;
          transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

          &:hover{
            opacity: 1;
          }

          a {
            font-family: Roboto;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            border: 1px solid #fff;
            border-radius: 50px;
            padding: 12px 30px;
            cursor: pointer;
            font-size: 16px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            font-weight: 500;

            &:hover{
              color: #333;
              background: #fff;
            }
          }
        }

        img {
          display: block;
          width: 100%;
          border-radius: 5px 5px 0px 0px;
        }
      }

      .bar {
        display: flex;
        border-radius: 0px 0px 5px 5px;
        background: #fff;

        hr {
          margin: 0;
        }

        h6 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: 0.05em;
          color: #000000;
          padding: 0 25px;
        }

        .details {
          align-self: center;
          padding: 0 44px 0 22px;
          h3 {
            color: #333333;
          }
        }

        h4 {
          align-self: center;
          font-family: Comic Sans MS;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          color: #555555;
          padding: 0 18px 0 0;
        }

        .vote-button {
          display: flex;
          align-self: center;
          margin: 0 20px 0 auto;
          cursor: pointer;

          h5 {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #be9764;
          }

          svg {
            align-self: center;
            fill: #be9764;
          }
        }
      }
    }
  }
}

.section3 {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;

  .content {
    padding: 200px 0;

    p {
      padding: 20px 0 40px 0;
    }

    a {
      padding: 20px 25px;
    }
  }

  .line {
    max-width: 780px;
  }

  .up {
    margin: 10px 0 0 auto;
    padding: 13px;
    background: #fff;
    max-width: 24px;
    cursor: pointer;

    svg {
      fill: #333333;
    }
  }
}

footer {
  padding: 0 0 50px 0;
  text-align: center;
}
