.herosection {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.herosection .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.herosection .left h3 {
  color: #555555;
}

.herosection .left h1 {
  color: #333333;
  max-width: 530px;
}

.herosection .left p {
  margin: 0 0 40px 0;
}

.herosection .left a {
  padding: 20px 25px;
}

.herosection .right {
  margin: 0 0 0 auto;
}

.herosection .right .winner-site {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
  background: #f5f5f5;
  border-radius: 10px;
}

.herosection .right .winner-site .img-back {
  position: relative;
}

.herosection .right .winner-site .img-back .hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.herosection .right .winner-site .img-back .hover:hover {
  opacity: 1;
}

.herosection .right .winner-site .img-back .hover a {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
}

.herosection .right .winner-site .img-back .hover a:hover {
  color: #333;
  background: #fff;
}

.herosection .right .winner-site .img-back img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.herosection .right .winner-site .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 10px 10px 10px 25px;
  margin: 0px 0 0 0;
  border-radius: 0px 0px 10px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.herosection .right .winner-site .bar p {
  max-width: 240px;
}

.herosection .right .winner-site .bar .vote-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 20px 0 auto;
  cursor: pointer;
}

.herosection .right .winner-site .bar .vote-button h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #be9764;
}

.herosection .right .winner-site .bar .vote-button svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #be9764;
}

.sites {
  padding: 40px;
}

.sites h2 {
  color: #333333;
}

.sites h2 span {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}

.sites .sites-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 33px;
  padding: 40px 0;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.sites .sites-list .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sites .sites-list .bar .right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sites .sites-list .site {
  max-width: 430px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

.sites .sites-list .site .img-back {
  position: relative;
}

.sites .sites-list .site .img-back .hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent;
  opacity: 0;
  -webkit-transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.sites .sites-list .site .img-back .hover:hover {
  opacity: 1;
}

.sites .sites-list .site .img-back .hover a {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 500;
}

.sites .sites-list .site .img-back .hover a:hover {
  color: #333;
  background: #fff;
}

.sites .sites-list .site .img-back img {
  display: block;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.sites .sites-list .site .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0px 0px 5px 5px;
  background: #fff;
}

.sites .sites-list .site .bar hr {
  margin: 0;
}

.sites .sites-list .site .bar h6 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #000000;
  padding: 0 25px;
}

.sites .sites-list .site .bar .details {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 44px 0 22px;
}

.sites .sites-list .site .bar .details h3 {
  color: #333333;
}

.sites .sites-list .site .bar h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Comic Sans MS;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #555555;
  padding: 0 18px 0 0;
}

.sites .sites-list .site .bar .vote-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 20px 0 auto;
  cursor: pointer;
}

.sites .sites-list .site .bar .vote-button h5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #be9764;
}

.sites .sites-list .site .bar .vote-button svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  fill: #be9764;
}

.section3 {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: center;
}

.section3 .content {
  padding: 200px 0;
}

.section3 .content p {
  padding: 20px 0 40px 0;
}

.section3 .content a {
  padding: 20px 25px;
}

.section3 .line {
  max-width: 780px;
}

.section3 .up {
  margin: 10px 0 0 auto;
  padding: 13px;
  background: #fff;
  max-width: 24px;
  cursor: pointer;
}

.section3 .up svg {
  fill: #333333;
}

footer {
  padding: 0 0 50px 0;
  text-align: center;
}
/*# sourceMappingURL=HomeScreen.css.map */